
header.man-header {
    padding: 48px 0;
}
.navbuton button.btn.btn-primary {
    width: 130px;
    height: 39px;
    background: #228C22;
    border-radius: 100px;
    border-color: #228C22;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

.nav-link {
    font-family: 'Proxima Soft';
    font-size: 14px;
    line-height: 14px;
}
.man-header li.nav-item {
    margin-left: 15px;
}

.mobile-menu .nav-link {
    font-size: 16px;
    line-height: 1.6;
}
.mobile-menu li.list-group-item {
    padding: 11px 0;
}
.mobile-menu .offcanvas-header {
    background: #ddecdd;
}

button.moblbtn {
    background: #228c22;
    box-shadow: none;
    border: 1px solid #228c22;
    width: 38px;
    color: #fff;
    height: 38px;
    border-radius: 3px;
}
.mobile-menu a.nav-link.active {
    color: #228c22;
}


@media(max-width: 767px){
    header.man-header[_ngcontent-ng-c192600217] {
        padding: 20px 9px 20px !important;
    }
}

