
header.man-header {
    padding: 48px 0;
}
.navbuton button.btn.btn-primary {
    width: 130px;
    height: 39px;
    background: #228C22;
    border-radius: 100px;
    border-color: #228C22;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

.nav-link {
    font-family: 'Proxima Soft';
    font-size: 14px;
    line-height: 14px;
}
.man-header li.nav-item {
    margin-left: 15px;
}

.mobile-menu .nav-link {
    font-size: 16px;
    line-height: 1.6;
}
.mobile-menu li.list-group-item {
    padding: 11px 0;
}
.mobile-menu .offcanvas-header {
    background: #ddecdd;
}
