<section class="container-fluid contact1 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-lg-5 pt-5">
                <h2>Kontakta oss</h2>
                <p>Vänligen ta kontakt om du har någon fråga eller fundering!</p>
            </div>

        </div>

        <div class="row contatc-secbox mt-5 mb-lg-5">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="shadow text-center p-4 pb-3 rounded h-100">
                    <img src="../../assets/images/contact/map.png" class="mb-4 mt-4">
                    <p>198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
              
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="shadow text-center p-4 pb-3 rounded h-100">
                    <img src="../../assets/images/contact/envl.png" class="mb-4 mt-4">
                    <p><a href="mailto: hej@skrotobil.se">hej@skrotobil.se</a></p>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="shadow text-center p-4 pb-3 rounded h-100">
                    <img src="../../assets/images/contact/tel.png" class="mb-4 mt-4">
                  <p><a href="tel:+467071112223">+467071112223</a></p>
                </div>
                
             </div>
             <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="shadow text-center p-4 pb-3 rounded h-100">
                    <img src="../../assets/images/contact/site.png" class="mb-4 mt-4">
                     <p><a href="www.skrotobil.se" target="_blank">www.skrotobil.se</a></p>
                </div>
             </div>

             <div class="col-12 mt-5 pt-lg-4 text-center contact-socila">
                <ul class="social-network social-circle mt-4">
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
             </div>

        </div>


    </div>

</section>

<section class="home-section3 home-section5">
    <img src="../../assets/images/contact/elips.png" class="Ellipse1img">
  <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 mx-auto">
      <img src="../../assets/images/contact/scp.png">
    </div>
    <!-- <div class="col">
      <form class="row g-3">

        <div class="col-12 fomrtitle">
          <h3>Skicka meddelande</h3>
        </div>

        <div class="col-md-6">
          <label class="form-label">Namn</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="col-md-6">
          <label class="form-label">Telefon</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="col-md-12">
          <label class="form-label">Amne</label>
          <input type="email" class="form-control"/>
        </div>
        <div class="col-md-12">
          <label class="form-label">Meddelande</label>
          <textarea class="form-control mb-4"  rows="3"></textarea>
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Skicka</button>
        </div>
      </form>
    </div> -->

  </div>
  </div>
  
</section>