<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5 pt-5">
                <h2>Kontakta oss</h2>
                <p>Vänligen ta kontakt om du har någon fråga eller fundering!</p>
            </div>

        </div>

        <div class="row contatc-secbox">
            <div class="col-md-3 shadow text-center p-4">
               <img src="../../assets/images/contact/map.png">
               <p>198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/images/contact/envl.png">
                <p><a href="mailto: hej@skrotobil.se">hej@skrotobil.se</a></p>
             </div>
             <div class="col-md-3">
                <img src="../../assets/images/contact/tel.png">
                <p><a href="tel:+467071112223">+467071112223</a></p>
             </div>
             <div class="col-md-3">
                <img src="../../assets/images/contact/site.png">
                <p><a href="www.skrotobil.se" target="_blank">www.skrotobil.se</a></p>
             </div>
        </div>


    </div>

</section>