.contatc-secbox .shadow {
    background: #fff;
}
.contatc-secbox {
    color: #000000;
    font-size: 20px;
}
.contatc-secbox a {
    color: #000;
    text-decoration: none;
}
.contact1 h2 {
    font-size: 60px;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 11px;
  }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 20px;
    border: 1px solid #fff;
    background: #106710;
    line-height: 2.2;
    color: #fff;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  section.home-section3 {
    padding-top: 85px;
    padding-bottom: 100px;
}

section.home-section3 form.row.g-3 {
    padding: 47px 42px;
}

.fomrtitle h3 {
    font-size: 53px;
    line-height: 1.1;
    color: #000000;
    margin-bottom: 20px;
}
.fomrtitle p {
    font-size: 18px;
    line-height: 1.4;
}
section.home-section3 form input {
    height: 58px;
}
section.home-section3 form textarea {
    height: 133px;
}
section.home-section3 form button.btn.btn-primary {
    height: 58px;
    background: #228C22;
    border-radius: 100px;
    border-color: #228C22;
    font-family: "Proxima Soft";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 2;
    text-align: center;
    color: #FFFFFF;
    padding: 3px 63px;
}

.home-section3 > .container {
    max-width: 1800px;
    padding-right: 115px;
}

.home-section3 > .container > .row > .col-md-6 {
    width: 53%;
}
section.home-section3.home-section5 {
  background: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.home-section5 img.Ellipse1img {
  position: absolute;
  top: -119px;
  z-index: -1;
  left: -54px;
}