<section class="container-fluid banner-sec aboutpagebaner">
    <img src="../../assets/images/service/baner.png" class="banerrightimg" />
    <div class="container">
      <div class="row">
        <div class="col-sm-5 pe-4">
          <h2>Välj dina<br> bästa tjänster</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti 
            atque corrupti quos dolores et quas
          </p>
          <p>Vero sos et accusamus et iusto odio signissimos ucimus rui alandit praesentium voluptatum weleniti atque aorrupti suos aolore,</p>
          <a href="#" class="btn btn-primary">Få bud för din bil!</a>
        </div>
      </div>
    </div>
  </section>