.banner-sec h2 {
    font-weight: 400;
    font-size: 59px;
    line-height: 62px;
    color: #000000;
    margin-bottom: 31px;
}
img.banerrightimg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.banner-sec p {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.3;
    color: #4A4A4A;
}
.banner-sec h2 span {
    position: relative;
}
.banner-sec h2 span:after {
    content: "";
    bottom: -5px;
    height: 27px;
    width: 100%;
    display: block;
    background: #228c22;
    position: absolute;
    z-index: -1;
}
.banner-sec a.btn.btn-primary {
    margin-top: 25px;
}

.banner-sec {
    padding-top: 85px;
    padding-bottom: 290px;
}
.aboutpagebaner p {
    font-size: 18px;
    line-height: 1.6;
}

@media(max-width: 1200px){

    img.banerrightimg{
        position: relative;
    }
    .banner-sec {
        padding-top: 0px;
        padding-bottom: 84px;
    } 
}

@media(max-width: 992px){
    .banner-sec h2 {
        font-size: 39px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    .banner-sec h2 br {
        display: none;
    }

}
@media(max-width: 767px){
    .banner-sec h2 {
        font-size: 28px;
        margin-top: 32px;
    }
    .banner-sec[_ngcontent-ng-c2986306557] {
        padding-bottom: 50px;
    }
}
