<section class="container-fluid banner-sec">
  <img src="../../assets/images/bannerbg.png" class="banerrightimg" />
  <div class="container">
    <div class="row">
      <div class="col-sm-6 pe-5">
        <h2>
          Det ska vara<br />
          <span>enkelt att skrota din bil!</span>
        </h2>
        <p>
          Vi vill hjälpa dig att få ersättning för din bil, skona miljön och
          hjälpa bilskrothandlare att utöka deras verksamhet genom att skrota
          flera bilar.
        </p>
        <a href="#" class="btn btn-primary">Få bud för din bil!</a>
      </div>
    </div>
  </div>
</section>

<section class="home-section2">
  <div class="container customwidth mb-5 pb-xl-5">
    <div class="row sec2title">
      <div class="col"><h3>Endast dessa enkla steg!</h3></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="sec2iner">
          <img src="../../assets/images/car.png" class="img-fluid" />
          <p>
            Vänligen fyll i vår formulär få bud från bilskrothandlare eller ring
            oss på 08-432785
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sec2iner">
          <img src="../../assets/images/person.png" class="img-fluid" />
          <p>
            Vi får bud från olika skrothandlare och presenterar detta för dig.
            När du accepterar budet så lämnar vi dina kontaktuppgifter till
            bilskrothandlaren och du får bilskrothandlarens uppgifter.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sec2iner">
          <img src="../../assets/images/images2.png" class="img-fluid" />
          <p>
            Tillsammans med bilskrothandlaren kommer ni överens angående datum,
            tid och hur ersättningen för ditt bil ska betalas. Dessutom skriv
            under det gula delen så
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container home-section2inner2 pt-5">
    <div class="row">
      <div class="col-md-5 pt-5 ps-xl-5 ps-4">
        <h3>Fördelar med att skrota din bil</h3>
        <ul>
          <li>
            <img src="../../assets/images/listicn.png" /> Reparera bilen är inte
            värd och det kan vara farligt att köra
          </li>
          <li><img src="../../assets/images/listicn.png" /> Bra för miljön</li>
          <li>
            <img src="../../assets/images/listicn.png" /> Tar onödigt plats
          </li>
          <li>
            <img src="../../assets/images/listicn.png" /> Få ersättning enligt
            bilens skick och modell
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <img src="../../assets/images/car2.png" />
      </div>
    </div>
  </div>

  <img src="../../assets/images/Ellipse1.png" class="sec2ellip" />
</section>

<section class="home-section3">
  <div class="container">
    <div class="row align-items-center">
    <div class="col-md-6">
      <img src="../../assets/images/car3.png">
    </div>
    <div class="col">
      <form class="row g-3">

        <div class="col-12 fomrtitle">
          <h3> Få bud <br> frånbilskrothandlare!</h3>
          <p>Vänligen fyll i dessa fält</p>
        </div>

        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Förnamn" />
        </div>
        <div class="col-md-6">
      
          <input type="text" class="form-control"  placeholder="Efternamn" />
        </div>
        <div class="col-md-6">
     
          <input type="email" class="form-control"  placeholder="E-post" />
        </div>
        <div class="col-md-6">
        
          <input type="tel" class="form-control"  placeholder="Telefon" />
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Bil reg. nummer" />
        </div>
        <div class="col-md-6">
         
          <input type="text" class="form-control"  placeholder="Motor"/>
        </div>
        <div class="col-md-6">
         
          <input type="text" class="form-control"  placeholder="Orginal Katalysator"/>
        </div>
        <div class="col-md-6">
         
          <input type="text" class="form-control"  placeholder="Gata" />
        </div>
        <div class="col-md-6">
         
          <input type="text" class="form-control"  placeholder="Postnummer"/>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Ort"/>
        </div>
        
        <div class="col-12">
          <textarea class="form-control mt-4 mb-4"  rows="3" placeholder="Övrig information"></textarea>
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Skicka</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  
</section>

<section class="home-section4">
  <div class="container">
    <div class="row align-items-center">
    <div class="col pe-5 ps-5">
      <h3>Om oss</h3>
      <p>Vi vill hjälpa dig att få ersättning för din bil, skona miljön och hjälpa bilskrothandlare att utöka deras 
        verksamhet genom att skrota flera bilar. </p>
        <a href="#" class="btn btn-primary">Få bud för din bil!</a>
    </div>
    <div class="col-md-6">
      <img src="../../assets/images/contact-img.png">
    </div>
  </div>
  </div>
  
</section>


<section class="home-section3 home-section5">
    <img src="../../assets/images/Ellipse4.png" class="Ellipse1img">
  <div class="container">
    <div class="row align-items-center">
    <div class="col-md-6">
      <img src="../../assets/images/car5.png">
    </div>
    <div class="col">
      <form class="row g-3">

        <div class="col-12 fomrtitle">
          <h3>Skicka meddelande</h3>
        </div>

        <div class="col-md-6">
          <label class="form-label">Namn</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="col-md-6">
          <label class="form-label">Telefon</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="col-md-12">
          <label class="form-label">Amne</label>
          <input type="email" class="form-control"/>
        </div>
        <div class="col-md-12">
          <label class="form-label">Meddelande</label>
          <textarea class="form-control mb-4"  rows="3"></textarea>
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Skicka</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  
</section>
