
<section class="container-fluid banner-sec">
  <img src="../../assets/images/bannerbg.png" class="banerrightimg" />
  <div class="container">
    <div class="row">
      <div class="col-sm-6 pe-md-5">
        <h2>
          Det ska vara<br />
          <span>enkelt att skrota din bil!</span>
        </h2>
        <p>
          Vi vill hjälpa dig att få ersättning för din bil, skona miljön och
          hjälpa bilskrothandlare att utöka deras verksamhet genom att skrota
          flera bilar.
        </p>
        <a  (click)="scrollPoint1()" class="btn btn-primary">Få bud för din bil!</a>
      </div>
    </div>
  </div>
</section>

<section class="home-section2">
  <div class="container customwidth mb-5 pb-xl-5">
    <div class="row sec2title">
      <div class="col"><h3>Endast dessa enkla steg!</h3></div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="sec2iner">
          <img src="../../assets/images/car.png" class="img-fluid" />
          <p>
            Vänligen fyll i vår formulär få bud från bilskrothandlare eller ring
            oss på 08-432785
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="sec2iner">
          <img src="../../assets/images/person.png" class="img-fluid" />
          <p>
            Vi får bud från olika skrothandlare och presenterar detta för dig.
            När du accepterar budet så lämnar vi dina kontaktuppgifter till
            bilskrothandlaren och du får bilskrothandlarens uppgifter.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="sec2iner">
          <img src="../../assets/images/images2.png" class="img-fluid" />
          <p>
            Tillsammans med bilskrothandlaren kommer ni överens angående datum,
            tid och hur ersättningen för ditt bil ska betalas. Dessutom skriv
            under det gula delen så
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container home-section2inner2 pt-xl-5 pt-2">
    <div class="row">
      <div class="col-lg-5 col-auto mx-auto pt-xl-5 ps-xl-5 ps-xl-4">
        <h3>Fördelar med att skrota din bil</h3>
        <ul>
          <li>
            <img src="../../assets/images/listicn.png" /> Reparera bilen är inte
            värd och det kan vara farligt att köra
          </li>
          <li><img src="../../assets/images/listicn.png" /> Bra för miljön</li>
          <li>
            <img src="../../assets/images/listicn.png" /> Tar onödigt plats
          </li>
          <li>
            <img src="../../assets/images/listicn.png" /> Få ersättning enligt
            bilens skick och modell
          </li>
        </ul>
      </div>
      <div class="col-lg-7">
        <img src="../../assets/images/car2.png" />
      </div>
    </div>
  </div>

  <img src="../../assets/images/Ellipse1.png" class="sec2ellip" />
</section>

<section class="home-section3" id="carform">
  <div class="container">
    <div class="row align-items-center">
    <div class="col-md-6">
      <img src="../../assets/images/car3.png">
    </div>
    <div class="col m-2 m-xl-0">
      <!-- submitUser(registerUser.value)  -->
      <form class="row g-3" [formGroup]="registerUser"
      (ngSubmit)="submitUser()">

        <div class="col-12 fomrtitle">
          <h3> Få bud <br> frånbilskrothandlare!</h3>
          <p>Vänligen fyll i dessa fält</p>
        </div>

        <div class="col-md-6">
          <input type="email" class="form-control"  placeholder="xyz@xyz.com" formControlName="username" />

          <div *ngIf="isSubmitted && f['username']?.errors" >
            <!-- <div *ngIf="f['firstname']?.errors?.required"> -->
              <p style="color: red;font-size: 13px;padding-top: 3px;">Förnamn is required</p>
            <!-- </div> -->
          </div>

        </div>

        <div class="col-md-6">
          <input type="email" class="form-control"  placeholder="förnamn" formControlName="firstname" />

          <div *ngIf="isSubmitted && f['firstname']?.errors" >
            <!-- <div *ngIf="f['firstname']?.errors?.required"> -->
              <p style="color: red;font-size: 13px;padding-top: 3px;">Förnamn is required</p>
            <!-- </div> -->
          </div>

        </div>

        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Efternamn" formControlName="lastname" />

          <div *ngIf="isSubmitted && f['lastname']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">lastname is required</p>
          </div>

        </div>

        <div class="col-md-6">
          <input type="email" class="form-control"  placeholder="E-post" formControlName="epost"/>

          <!-- <div *ngIf="isSubmitted && f['epost']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">epost is required</p>
          </div> -->

        </div>

        <div class="col-md-6">
          <input type="tel" class="form-control"  placeholder="Telefon" formControlName="telphone"/>

          <div *ngIf="isSubmitted && f['telphone']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">telphone is required</p>
          </div>

        </div>

        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Bil reg. nummer" formControlName="number"/>

         <!--  <div *ngIf="isSubmitted && f['number']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">number is required</p>
          </div> -->

        </div>

        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Orginal Katalysator" formControlName="katalysator"/>

          <!-- <div *ngIf="isSubmitted && f['katalysator']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">katalysator is required</p>
          </div> -->

        </div>

        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="City" formControlName="city" />

          <div *ngIf="isSubmitted && f['city']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">City is required</p>
          </div>

        </div>

        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Street" formControlName="street" />

          <div *ngIf="isSubmitted && f['street']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">Street is required</p>
          </div>

        </div>


        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Postnummer" formControlName="postCode" />

          <div *ngIf="isSubmitted && f['postCode']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">postCode is required</p>
          </div>

        </div>

        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="uid" formControlName="uid" />

          <div *ngIf="isSubmitted && f['uid']?.errors" >
              <p style="color: red;font-size: 13px;padding-top: 3px;">uid is required</p>
          </div>

        </div>

        <div class="col-12">
      
        </div>
        
        <div class="col-12">
          <textarea class="form-control mt-4 mb-4"  rows="3" placeholder="Övrig information" formControlName="desc"></textarea>
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Skicka</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  
</section>



<button type="button" class="btn btn-primary" style="display: none;"  data-bs-toggle="modal" data-bs-target="#exampleModal" id="msgBtn">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Meddelande</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>{{Message}} </h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
