<footer class="footerman">
    <div class="container">
        <div class="row footertoprow">
            <div class="col-lg-6 text-lg-start">
                <div class="col-lg-9 col-12 pb-5 pb-lg-0">
                    <a href="#" class="mb-4 logofoo"> <img src="../../../assets/images/footerlogo.png"> </a> 
                    <p>Tillsammans med bilskrothandlaren kommer ni överens angående datum, tid och hur ersättningen 
                        för ditt bil ska betalas. Dessutom skriv under det gula delen så</p>
                        <ul class="social-network social-circle mt-4">
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        </ul>		
                </div>
                
            </div>
            <div class="col-lg-3 col-md-6 pb-5 pb-lg-0">
                <ul class="footermenu mx-lg-auto pt-lg-0 pb-lg-0 p-md-4">
                    <li>
                        <a href="#">Hem</a>
                    </li>
                    <li>
                        <a href="#">Hur det funkar</a>
                    </li>
                    <li>
                        <a href="#">Fördelar</a>
                    </li>
                    <li>
                        <a href="#">Biluppgifter</a>
                    </li>
                     <li>
                        <a href="#">Om oss</a>
                    </li>
                    <li>
                        <a href="#">Kontakta oss</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="mx-auto  pt-lg-0 pb-lg-0 ps-xl-5 ps-lg-4 p-md-4  Kontakta">
                    <h4>Kontakta oss</h4>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker footicon"></i>
                            198 West 21th Street, Suite 721 
                            New York NY 10016
                        </li>
                        <li>
                            <i class="fa fa-volume-control-phone footicon"></i>
                            <a href="tel:+467071112223">+467071112223</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope footicon"></i>
                            <a href="mailto:hej@skrotobil.se" target="_blank">hej@skrotobil.se</a>
                        </li>
                        <li>
                           <img src="../../../assets/images/url.png" class="footicon">
                            <a href="www.skrotobil.se">www.skrotobil.se</a>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
        
    </div>

    <div class="container-fluid footercopy">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 pb-4 pb-lg-0 text-center text-lg-start">
                    <p>©2023 devopsninja - All Rights Reserved.</p>
                </div>
                <div class="col-xl-3 col">
                    <ul class="row">
                        <li class="col-sm-6 col text-end text-lg-start">
                          <a href="#">Privacy policy</a>
                        </li>
                        <li class="col-sm-6 col">
                            <a href="#">Terms & Condition</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

